@import url('https://fonts.googleapis.com/css?family=Vibur');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

html, body {
  overflow-x:hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .pointer {
    cursor: pointer;
  }
}

// button color for gallery switch
button:focus {
    outline: none;
    background-color: #47B7AD;
}

.footer {
  background-color: #FBF8F5;
  width: 100%;
  color: black;
}

.footer-separator {
  width: 25%;
  border-bottom: solid #9E9E9E 1px;
  margin-right: auto;
  margin-left: auto;
}

.footer-icon {
  font-size: 2em;
}

.profile {
  width: 230px;
  border: solid #D1CFCC 1px;
}

.quote {
  font-style: italic;
}

.dashboard-container {
  font-size: 0.8em;
  padding-left: 10px;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
}

.classestitle {
  background-color: grey;
  color: white;
  padding: 5px 15px 5px 15px;
  border-bottom: solid 1px #D1CFCC;
}

.classeseven {
  background-color: #FBF8F5;
  padding: 15px;
  padding-bottom: 0px;
  border-bottom: solid 1px #D1CFCC;
}

.classesodd {
  background-color: white;
  padding: 15px;
  padding-bottom: 0px;
  border-bottom: solid 1px #D1CFCC;
}

.userstitle {
  background-color: grey;
  color: white;
  padding: 15px 15px 0px 15px;
  border-bottom: solid 1px #D1CFCC;
}

.userseven {
  background-color: #FBF8F5;
  padding: 15px;
  border-bottom: solid 1px #D1CFCC;
}

.usersodd {
  background-color: white;
  padding: 15px;
  border-bottom: solid 1px #D1CFCC;
}

.booking-btn {
  line-height: 0px;
  height: 20px;
  padding: 10px;
  font-size: 0.7rem;
}

.date-picker {
  .react-datepicker__input-container {
    width: 100%;
  }

  > div > div {
    width: 100%;
  }

  label {
    left: 0 !important;
  }
}

.react-datepicker {
  width: 227.5px;

  .react-datepicker__month-container {
    width: 225.5px;
  }
}



.message {
  color: red;
}

.preview {
  width: 200px;
  border: solid 1px grey;
}

a .material-icons {
  color: #47B7AD;
  transition: 0.5s;
}

a:hover .material-icons {
  color: #3C9A92;
  transition: 0.5s;
  cursor: pointer;
}

.card {
  background-color: #FBF8F5;
}

// .btn {
//   background-color: #8EDD9B;
// }
//
// .btn:hover {
//   background-color: #53C85D;
// }
//
// .btn-floating {
//   background-color: #53C85D;
// }

.deep-orange.lighten-1:hover {
    background-color: #D55D38 !important;
}

.teal.lighten-2:hover {
    background-color: #3C9A92 !important;
}

.grey.darken-1:hover {
    background-color: #636363 !important;
}

.link {
  color: #ff7043;
  text-align: center;
  font-weight: bold;
}

.link:hover {
  color: #D55D38;
  text-align: center;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Raleway', sans-serif;
}

h4 {

  text-align: center;
}

h6 {
  text-align: center;
}

.modal-container {
  padding: 15px;
}

.error-message-main {
  color: red;
}

.error-message-field {
  color: red;
  font-size: small;
  margin-top: -15px;
}

.error-message-dropdown {
  color: red;
  font-size: small;
  margin-top: 5px;
}

/*Custom styling of nav*/
nav {
  z-index: 100;
}

nav ul li a {
  color: black;
  font-weight: 500;
  font-size: small;
}

nav ul li a:hover {
  color: white;
  font-weight: 500;
  font-size: small;
  background-color: #47B7AD;
}

nav .brand-logo {
  font-family: 'Vibur', cursive;
  color: black;
  font-size: 20px;
}

.button-collapse {
  color: black;
  z-index: 200;
}

/*Loading animation*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #47B7AD;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
