@import url('https://fonts.googleapis.com/css?family=Vibur');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a .material-icons {
  color: #54B5B5;
  transition: 0.5s;
}

a:hover .material-icons {
  color: #9DD5D5;
  transition: 0.5s;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h6 {
  text-align: center;
}

.spacer {
  padding: 30px;
}

.error-message-main {
  color: red;
}

.error-message-field {
  color: red;
  font-size: small;
  margin-top: -15px;
}

/*Custom styling of nav*/
nav ul li a {
  color: black;
  font-weight: 500;
  font-size: small;
}

nav ul li a:hover {
  color: white;
  font-weight: 500;
  font-size: small;
  background-color: #53C85D;
}

nav .brand-logo {
  font-family: 'Vibur', cursive;
  color: black;
}

.button-collapse {
  color: black;
}

nav div ul li:hover {
  background-color: #53C85D;
}

/*Loading animation*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #53C85D;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*Parallax container styling*/
.parallax-container {
  height: 300px;
  border-bottom: #C0C0C0 solid 1px;
  font-family: 'Playfair Display', serif;
}

.sub-title {
  font-family: 'Raleway', sans-serif;
  color: black;
}
